---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection, CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
) as CollectionEntry<"blog">[];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1 class="text-2xl mt-4 mb-3 text-center">Osa's Knowledge Base 🚀</h1>
      <div
        class="flex gap-5 mt-10 mb-24 overflow-x-auto snap-x scroll-smooth"
      >
        {
          posts.map((post) => (
            <a
              href={`/blog/${post.slug}/`}
              class="snap-start p-2  flex flex-none items-center flex-col gap-4"
            >
              <img
                class="transition my-10 duration-700 ease-in-out rounded-lg w-[450px]  h-[400px] first:ml-16 hover:origin-bottom hover:-rotate-12"
                src={post.data.heroImage}
                alt=""
              />
              <h4>{post.data.title}</h4>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          ))
        }
      </div>
      <Footer />
    </main>
  </body>
</html>
